<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>
  <%- include('../partials/navbar') %>
  <section class="container">
    <% if(errors){ %>
    <% errors.split(',').forEach(e => { %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <%= e %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% }); %>
    <% } %>
    <form action="/products/add" method="post">
      <div class="mb-3">
        <label for="name" class="form-label">Name</label><br>
        <input type="text" name="name" class="form-control">
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label><br>
        <input type="text" name="description" class="form-control">
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Price</label><br>
        <input type="number" name="price" class="form-control">
      </div>
      <div class="mb-3">
        <label for="category1" class="form-label">Category 1</label><br>
        <select name="category1" id="" class="form-control">
          <% category.forEach(e => { %>
          <option value="<%= e.id %>"><%= e.name %></option>
          <% }) %>
        </select>
      </div>
      <div class="mb-3">
        <label for="category2" class="form-label">Category 2</label><br>
        <select name="category2" id="" class="form-control">
          <% category.forEach(e => { %>
          <option value="<%= e.id %>"><%= e.name %></option>
          <% }) %>
        </select>
      </div>
      <br>
      <input type="submit" value="Submit" class="btn btn-primary">
    </form>
  </section>

  <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>