<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>
  <%- include('../partials/navbar') %>
  <section class="container">
    <form action="/products" method="get" class="row g-2">
      <div class="col-5">
        <input type="text" name="search" placeholder="Nama product" class="form-control">
      </div>
      <div class="col-auto">
        <input type="submit" value="Search" class="btn btn-primary">
      </div>
    </form>
    <div class="row row-cols-1 row-cols-md-4 g-4">
      <% products.forEach((e, i) => { %>
      <a href="/products/<%= e.id %>" class="text-decoration-none">
        <div class="col">
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= e.name %></h5>
              <p class="card-text"><%= e.description %></p>
              <p class="card-text"><%= e.rupiah  %></p>
              <p class="card-text"><%= e.User.username %></p>
            </div>
          </div>
        </div>
      </a>
      <% }) %>
    </div>
  </section>

  <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>