<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1><%= product.name %></h1>
  <p><%= product.description %></p>
  <p>Price: <%= product.price %></p>
  <p>Categories :</p>
  <ul>
    <% product.Categories.forEach(e => { %>
    <li><%= e.name %></li>
    <% }) %>
  </ul>

  <p>Store: <%= profile.firstName %> <%= profile.lastName %></p>
  <p>Address: <%= profile.address %></p>
  <a href="/products/buy/<%= product.id %>">Buy</a>
</body>

</html>