<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>
  <%- include('../partials/navbar') %>
  <section class="container">
    <h1><%= product.name %></h1>
    <p><%= product.description %></p>
    <p>Price: <%= product.rupiah %></p>
    <p>Categories :</p>
    <ul>
      <% product.Categories.forEach(e => { %>
      <li><%= e.name %></li>
      <% }) %>
    </ul>

    <p>Store: <%= profile.firstName %> <%= profile.lastName %></p>
    <p>Address: <%= profile.address %></p>
    <a onclick="downloadInvoice()">Buy</a>
  </section>

  <script>
    function downloadInvoice(params) {
      var data = {};
      easyinvoice.createInvoice(data, function (result) {
        easyinvoice.download('myInvoice.pdf', result.pdf);
      });
    }

  </script>
</body>

</html>